*.txt
Standard.Customer.Application/bin/Debug/netstandard2.1/Standard.Customer.Application.deps.json
Standard.Customer.Application/bin/Debug/netstandard2.1/Standard.Customer.Application.dll
Standard.Customer.Application/bin/Debug/netstandard2.1/Standard.Customer.Application.pdb
Standard.Customer.Application/bin/Debug/netstandard2.1/Standard.Customer.Domain.dll
Standard.Customer.Application/bin/Debug/netstandard2.1/Standard.Customer.Domain.pdb
Standard.Customer.Application/obj/project.assets.json
Standard.Customer.Application/obj/project.nuget.cache
Standard.Customer.Application/obj/Standard.Customer.Application.csproj.nuget.dgspec.json
Standard.Customer.Application/obj/Standard.Customer.Application.csproj.nuget.g.props
Standard.Customer.Application/obj/Standard.Customer.Application.csproj.nuget.g.targets
Standard.Customer.Application/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.AssemblyInfo.cs
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.AssemblyInfoInputs.cache
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.assets.cache
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.csproj.AssemblyReference.cache
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.csproj.CopyComplete
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.csproj.CoreCompileInputs.cache
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.dll
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.GeneratedMSBuildEditorConfig.editorconfig
Standard.Customer.Application/obj/Debug/netstandard2.1/Standard.Customer.Application.pdb
Standard.Customer.Domain/bin/Debug/netstandard2.1/Standard.Customer.Domain.deps.json
Standard.Customer.Domain/bin/Debug/netstandard2.1/Standard.Customer.Domain.dll
Standard.Customer.Domain/bin/Debug/netstandard2.1/Standard.Customer.Domain.pdb
Standard.Customer.Domain/obj/project.assets.json
Standard.Customer.Domain/obj/project.nuget.cache
Standard.Customer.Domain/obj/Standard.Customer.Domain.csproj.nuget.dgspec.json
Standard.Customer.Domain/obj/Standard.Customer.Domain.csproj.nuget.g.props
Standard.Customer.Domain/obj/Standard.Customer.Domain.csproj.nuget.g.targets
Standard.Customer.Domain/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.AssemblyInfo.cs
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.AssemblyInfoInputs.cache
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.assets.cache
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.csproj.CoreCompileInputs.cache
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.dll
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.GeneratedMSBuildEditorConfig.editorconfig
Standard.Customer.Domain/obj/Debug/netstandard2.1/Standard.Customer.Domain.pdb
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Cosmos.CRTCompat.dll
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Microsoft.Azure.Cosmos.ServiceInterop.dll
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Application.dll
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Application.pdb
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Domain.dll
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Domain.pdb
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Infrastructure.deps.json
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Infrastructure.dll
Standard.Customer.Infrastructure/bin/Debug/netstandard2.1/Standard.Customer.Infrastructure.pdb
Standard.Customer.Infrastructure/obj/project.assets.json
Standard.Customer.Infrastructure/obj/project.nuget.cache
Standard.Customer.Infrastructure/obj/Standard.Customer.Infrastructure.csproj.nuget.dgspec.json
Standard.Customer.Infrastructure/obj/Standard.Customer.Infrastructure.csproj.nuget.g.props
Standard.Customer.Infrastructure/obj/Standard.Customer.Infrastructure.csproj.nuget.g.targets
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.AssemblyInfo.cs
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.AssemblyInfoInputs.cache
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.assets.cache
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.csproj.AssemblyReference.cache
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.csproj.CopyComplete
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.csproj.CoreCompileInputs.cache
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.dll
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Standard.Customer.Infrastructure/obj/Debug/netstandard2.1/Standard.Customer.Infrastructure.pdb
